@import "tailwindcss";
@import "aos/dist/aos.css";

body {
  font-family: "Oswald", sans-serif;
  background-color: oklch(96.7% 0.003 264.542);
}

.font-oswald {
  font-family: "Oswald", sans-serif !important;
}

@keyframes hopIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.hop {
  animation: hopIn 0.8s ease-out forwards;
}

@keyframes hopX {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.hopX {
  animation: hopX 0.8s ease-out forwards;
}

[data-aos="hop"] {
  transform: translateY(30px);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="hop"].aos-animate {
  transform: translateY(0);
  opacity: 1;
}
